.wrapper
  = render "header"
  .mainsmainss
  .aboutmains
    .nametoha 
      %h2.nametitle KStgramとは
      .aboutshousaida
        %p ファッションコーディネートアプリです
      .aboutshousaidayo
        %p 普段着る服、気温によって着る服装をピックアップして記録・共有できるサービスです。
      %section
        .aboutshousaimenu
          .aboutmenuran
            .aboutmenuran-left
              .aboutmenuran-lefticon 
                .abouticonda
                  %i.fas.fa-home
                .aboutmenuran-title  ホームボタン
            .aboutmenuran-right トップページに戻ります
        .aboutshousaimenu  
          .aboutmenuran
            .aboutmenuran-left
              .aboutmenuran-lefticon 
                .abouticonda
                  %i.fab.fa-instagram
                .aboutmenuran-title  新規登録
            .aboutmenuran-right 投稿ページに遷移します
        .aboutshousaimenu  
          .aboutmenuran
            .aboutmenuran-left
              .aboutmenuran-lefticon 
                .abouticonda
                  %i.fas.fa-heart
                .aboutmenuran-title  プロフィール画面
            .aboutmenuran-right 投稿ページに遷移します
        .aboutshousaimenu  
          .aboutmenuran
            .aboutmenuran-left
              .aboutmenuran-lefticon 
                .abouticonda
                  %i.fa.fa-user
                .aboutmenuran-title  ログアウト
            .aboutmenuran-right ログアウトします
        .aboutshousaimenu  
          .aboutmenuran
            .aboutmenuran-left
              .aboutmenuran-lefticon 
                .abouticonda
                  %i.fas.fa-search
                .aboutmenuran-title  検索
            .aboutmenuran-right 投稿情報を検索します
          
      
  .footer
    .p-footer
      %ul.p-footer__link-list
        %li.p-footer__link-item
          = link_to about_tweets_path do
            KStagramとは
        %li.p-footer__link-item
          = link_to kiyaku_tweets_path do
            利用規約
        %li.p-footer__link-item
          = link_to privacy_tweets_path do
            プライバシーポリシー
    .oooo Copyright © KStagram 2020