.wrapper
  = render "header"
  .mainsmainss
  .aboutmains
    .nametoha 
      %h2.nametitle KStgramとは
  .footer
    .p-footer
      %ul.p-footer__link-list
        %li.p-footer__link-item
          = link_to about_tweets_path do
            KStagramとは
        %li.p-footer__link-item
          = link_to kiyaku_tweets_path do
            利用規約
        %li.p-footer__link-item
          = link_to privacy_tweets_path do
            プライバシーポリシー
    .oooo Copyright © KStagram 2020