.wrapper
  = render "header"
  .mainsmainss
  .about
    .about_name
      %h2.nametitle KStgramとは・・・
      .about_name_shousai
        %p ファッションコーディネートアプリです
      .about_name_shousai1
        %p 普段着る服、気温によって着る服装をピックアップして記録・共有できるサービスです。
      -# .aboutslide
      -#   %ul.aboutslide-list
      -#     %li.slide.active
      -#       %h2 トップ画面
      -#       .a1
      -#     %li.slide
      -#       .a2
      -#     %li.slide
      -#       %img{:src => "https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/jquery/advanced/autumn.jpg"}/
      -#     %li.slide
      -#       %img{:src => "https://s3-ap-northeast-1.amazonaws.com/progate/shared/images/lesson/jquery/advanced/winter.jpg"}/
        -# .aboutbtn
        -#   .aboutbtn_math 1
        -#   .aboutbtn_math 2
        -#   .aboutbtn_math 3
        -#   .aboutbtn_math 4
          
      %section
        .aboutmenu
          .aboutmenu_all
            .aboutmenu_all-left
              .aboutmenu_all-left-icon 
                .abouticonda
                  %i.fas.fa-home
                .aboutmenuran-title  ホームボタン
            .aboutmenu_all-right トップページに戻ります
        .aboutmenu  
          .aboutmenu_all
            .aboutmenu_all-left
              .aboutmenu_all-left-icon 
                .abouticonda
                  %i.fab.fa-instagram
                .aboutmenuran-title  新規登録
            .aboutmenu_all-right 投稿ページに遷移します
        .aboutmenu  
          .aboutmenu_all
            .aboutmenu_all-left
              .aboutmenu_all-left-icon 
                .abouticonda
                  %i.fas.fa-heart
                .aboutmenuran-title  プロフィール画面
            .aboutmenu_all-right 投稿ページに遷移します
        .aboutmenu  
          .aboutmenu_all
            .aboutmenu_all-left
              .aboutmenu_all-left-icon 
                .abouticonda
                  %i.fa.fa-user
                .aboutmenuran-title  ログアウト
            .aboutmenu_all-right ログアウトします
        .aboutmenu  
          .aboutmenu_all
            .aboutmenu_all-left
              .aboutmenu_all-left-icon 
                .abouticonda
                  %i.fas.fa-search
                .aboutmenuran-title  検索
            .aboutmenu_all-right 投稿情報を検索します   
  =render "footer"