.wrapper
  = render "header"
  .about
    .aboutshow
      .aboutcontents
        %h1 利用規約
        %p この利用規約（以下，「本規約」といいます。）は，本サービス運営チーム（以下，「運営チーム」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第2条（利用登録）
        %ol
          %li 本サービスにおいては，登録希望者が本規約に同意の上，運営チームの定める方法によって利用登録を申請し，運営チームがこれを承認することによって，利用登録が完了するものとします。
          %li 運営チームは，利用登録の申請者に以下の事由があると判断した場合，利用登録の申請を承認しないことがあり，その理由については一切の開示義務を負わないものとします。
          %ol 
            %li 利用登録の申請に際して虚偽の事項を届け出た場合
            %li 本規約に違反したことがある者からの申請である場合
            %li その他，運営チームが利用登録を相当でないと判断した場合
        %h2 第3条（ユーザーIDおよびパスワードの管理）
        %ol
          %li ユーザーは，自己の責任において，本サービスのユーザーIDおよびパスワードを適切に管理するものとします。
          %li ユーザーは，いかなる場合にも，ユーザーIDおよびパスワードを第三者に譲渡または貸与し，もしくは第三者と共用することはできません。運営チームは，ユーザーIDとパスワードの組み合わせが登録情報と一致してログインされた場合には，そのユーザーIDを登録しているユーザー自身による利用とみなします。
          %li ユーザーID及びパスワードが第三者によって使用されたことによって生じた損害は，運営チームに故意又は重大な過失がある場合を除き，運営チームは一切の責任を負わないものとします。
        %h2 第4条（利用料金および支払方法）
        %ol
          %li ユーザーは，本サービスの有料部分の対価として，運営チームが別途定め，本ウェブサイトに表示する利用料金を，運営チームが指定する方法により支払うものとします。
          %li ユーザーが利用料金の支払を遅滞した場合には，ユーザーは年14．6％の割合による遅延損害金を支払うものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします%div
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
  
  .footer
    .p-footer
      %ul.p-footer__link-list
        %li.p-footer__link-item
          = link_to about_tweets_path do
            KStagramとは
        %li.p-footer__link-item
          = link_to kiyaku_tweets_path do
            利用規約
        %li.p-footer__link-item
          = link_to privacy_tweets_path do
            プライバシーポリシー
    .oooo Copyright © KStagram 2020