.wrapper
  = render "header"
  .about
    .aboutshow
      .aboutcontents
        %h1 利用規約
        %p この利用規約（以下，「本規約」といいます。）は，本サービス運営チーム（以下，「運営チーム」といいます。）がこのウェブサイト上で提供するサービス（以下，「本サービス」といいます。）の利用条件を定めるものです。登録ユーザーの皆さま（以下，「ユーザー」といいます。）には，本規約に従って，本サービスをご利用いただきます。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします%div
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
        %h2 第1条（適用）
        %ol
          %li 本規約は，ユーザーと運営チームとの間の本サービスの利用に関わる一切の関係に適用されるものとします。
          %li 運営チームは本サービスに関し，本規約のほか，ご利用にあたってのルール等，各種の定め（以下，「個別規定」といいます。）をすることがあります。これら個別規定はその名称のいかんに関わらず，本規約の一部を構成するものとします。
          %li 本規約の規定が前条の個別規定の規定と矛盾する場合には，個別規定において特段の定めなき限り，個別規定の規定が優先されるものとします。
  
  .footer
    .p-footer
      %ul.p-footer__link-list
        %li.p-footer__link-item
          = link_to about_tweets_path do
            KStagramとは
        %li.p-footer__link-item
          = link_to kiyaku_tweets_path do
            利用規約
        %li.p-footer__link-item
          = link_to privacy_tweets_path do
            プライバシーポリシー
    .oooo Copyright © KStagram 2020