.footer
  .footer_p
    %ul.footer_p_link
      %li.p-footer_link_list
        = link_to about_tweets_path do
          KStagramとは
      %li.p-footer_link_list
        = link_to kiyaku_tweets_path do
          利用規約
      %li.p-footer_link_list
        = link_to privacy_tweets_path do
          プライバシーポリシー
  .footersite Copyright © KStagram 2020