- @user ||= current_user
.stats
  %a{:href => "#{following_user_path(@user)}"}
    %strong#following.stat
      フォロー
      = @user.followings.count
    
  %a{:href => "#{followers_user_path(@user)}"}
    %strong#followers.stat
      フォロワー
      = @user.followers.count
   
