.wrapper
  = render "header"
  .gbl_main
    .gbl_title
      .gbl_title_container
        .title_container 
          %h1.tit.icon_font
            %span.ico
            %i.fab.fa-instagram
            %i.stst KStgramユーザー一覧
  .gbl_bodyssss
    .contentaasas
      %h1.useriinenameaa 登録ユーザー一覧
      %table
        %tr
          %th ユーザ名
          %th 性別
          %th 登録日
        - @users.each do |user|
          %tr
            %td 
              %a{:href => "/users/#{user.id}"}= user.name
            %td 
              =user.sex
            %td 
              = user.created_at.strftime("%Y-%m-%d %H:%M")
      