.wrapper 
  =render "header"
  .gbl_main
    .gbl_main_title
      .gbl_main_title_container
        .gbl_main_title_container_titles
          %h1.tit.icon_font
            %span.ico
            %i.fab.fa-instagram
            %i.stst フォロー中
  .followtop
  .followmain
    - @user.followings.each do |user|
      %table
        %tr.ssssss
          %td= link_to user.name, user_path(user)
  .followdown
  = render 'footer'