.useriine{
  padding: 80px 0 80px 0;
    width: 100%;
    position: relative;
    background-color: rgba(var(--b3f, 250, 250, 250), 1);
border-bottom: 1px #ddd solid;


  }
.useriineiine{
  padding: 18px 0 30px 0;
  // background: #fff;
    min-height: 260px;
    // border-bottom: 1px #ddd solid;
    position: relative;
    
}
.userprofs{
  width: 1000px;
    margin: 0 auto 0 auto;
    position: relative;
    z-index: 50;
}
.userprofile{
  margin: 22px 0 0 0;
}
.user_sub{
  width: 200px;
  float: left;
  margin: 0 0 0 22px;
}
.usersubimage{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%; /* 追加 */
  overflow: hidden; /* 追加 */
  border: 1px #ddd solid; /* 追加 */
  margin: 0 auto;
}
.usersubproff{
  text-align: center;
    margin: 10px auto 0 auto;
    .kskskaas{
      padding: 5px;
      position: relative;
      a{
        display: block;
    padding: 8px 0 8px 0;
    text-align: center;
    text-decoration: none;
    color: #888;
    // font-weight: bold;
    border: 1px #ddd solid;
    border-radius: 2px;
    background: linear-gradient(to bottom, #fff 0%, #f6f6f6 100%);
      }
    }
}

.imageusers{
  font-size: 0;
  line-height: 1;
  letter-spacing: 0;
  width: 100%; /* 追加 */
  height: 100%; /* 追加 */
  display: flex; /* 追加 */
  img{
    // border-radius: 50%;
    // border: 1px #ddd solid;
    // max-width: 100%;
    // height: auto;
    // vertical-align: bottom;
    min-width: 100%; /* 追加 */
    min-height: 100%; /* 追加 */
    object-fit: cover; /* 追加 */
    display: block; /* 追加 */
  }
}
.useruserso{
  height: 100px;
  
}

.user_mains{
  width: 750px;
    float: right;
    padding: 3px 0 0 0;
}
.intro{
  display: block;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}
.ssssssa{
  font-size: 30px;
}
.introuser{
  font-size: 100px;
    line-height: 1.4;
    color: #333;
}
.metas{
  margin: 1px 0 0 0;
}
.metalist{
    padding: 4px 0 0 0;
    float: left;
    font-size: 14px;
    margin: 0 0 0 8px;
    position: relative;
    display: flex;
    color: #73a9ff;
}

.aaa{
  margin-left:10px;
  
}
.bbb{
margin-left: 30px;

}
.ccc{
  margin-left: 30px;
  
}
.ddd{
  margin-left: 30px;
  
}
.metalistsss a{
    margin: 0 30px 0 60px;
    position: relative;
    color: #6A6E71;
    .lslsl{
      font-size: 20px;
      margin-left: 100px;
      color:#00A4BB;
    }
    .lslsls{
      font-size: 30px;
      margin-left: 60px;
    }
    
}
.lsal{
  border: 1px #ddd solid;
}
.metaprofile{
  font-size: 15px;
    margin: 100px 0 0 0;
}
.missiisis{
  font-size: 30px;
}
.proffff{
  height: 100px;
  margin-top: 20px;
}
.llllls{
color: #2490d0;
font-size: 22px;
line-height: 1.5;
font-weight: bold;
margin-bottom: 20px;
border-bottom: 1px #ddd solid;

}
.kaaa{
  border: 1px #ddd solid;
}
  .ssala{
    border: 1px #ddd solid;
  
  a{
    text-decoration: none;
    color: #73a9ff;
    }
  }
  .stats{
    display: flex;
    border: solid 1px #eee;
    margin-top: 20px;
    a{
      text-decoration: none;
      width: 50%;
    }
  }
  .stat{
    border: solid 1px #eee;
  }
  #following{
    float: left;
    width: 100%;
  }
  #followers{
    float: right;
    width: 100%;
  }
  .gggll{
    color: #333;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
  }
  .ggglls{
    color: #333;
    font-size: 15px;
    font-weight: normal;
    text-align: center;
  }
  .gggggg{
    text-align: center;
      color: black;
    
  }
  .pagination{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .ssssss{
   
    a{
      text-decoration: none;
      color: #73a9ff;
    }
  }