#follow_form{
 margin-top: 30px;
 margin-left: auto;
 margin-right: auto;
}
.new_relationship{
input.follow-btn{
  color: white;
  padding: 10px;
  background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
  margin-left: 40px;
}
}
.edit_relationship{
  .follow-btn{
    color: white;
    padding: 10px;
    background: #ffdb2c;
    margin-left: 50px;
  }
  
}