.about{
  flex: 1 1;

  &_name{
    margin: 0 auto;
    padding: 3.2rem;
    
  
    .nametitle{
      font-size: 60px;
      color: #45494Be7;
      font-style: oblique;
      text-align: center;
      margin-bottom: 4rem;
      font-family: 'Homemade Apple', cursive;
     
    }
    &_shousai{
      font-size: 2rem;
        max-width: 1200px;
        text-align: center;
        margin: 0 auto 1em;
        display: none;
    }
    &_shousai1{
      font-size: 1.5rem;
      max-width: 1200px;
      text-align: center;
      margin: 0 auto 5em;  
      display: none;
    }

      .aboutmenu{
        border: 3px solid #45494Be7;
        margin: 0 auto 1em;
        width: 80%;

        &_all{
          display: flex;
          justify-content: space-between;
          margin: 0 auto;
          padding: 1em;
      
          &-left{
            flex: 1 1;
          }
          &-right{
            flex: 1.5 1;
            display: flex;
            align-items: center;
          }
        }
      }
  // .aboutslide{
  //   text-align: center;
  //   width: 1000px;
  //   margin: 0 auto;
  //   color: #5e6f84;
  //   padding: 60px 0;
  //   &-list{
  //     padding: 0;
  //     .slide {
  //       display: none;
        
  //       .a1{
  //         width: 1300px;
  //         margin: 0 auto;
  //         border-radius: 5px;
  //         background-image: url("top.png");
  //         height: 778px;
  //         zoom:0.5;
  //       }
  //       .a2{
  //         width: 500px;
  //         margin: 0 auto;
  //         border-radius: 5px;
  //         background-image: url("aboutnew.png");
  //         height: 668px;
  //         zoom:1;
  //       }
  //     }
      
  //     .active {
  //       display: block;
  //     }
  //   }
  // .aboutbtn{
  //   font-size: 16px;
  //   margin-top: 20px;
  //   &_math{
  //     display: inline-block;
  //     color: #4e90af;
  //     background-color: #e0f5ff;
  //     width: 40px;
  //     padding: 6px 0;
  //     margin: 0 5px;
  //     border-radius: 3px;
  //     cursor: pointer;
  //   }
  // } 
  // }
  }
}