.aboutmains{
  flex: 1 1;
}
.nametoha{
  margin: 0 auto;
    padding: 3.2rem;
}
.nametoto{
  margin: 0 auto;
  padding: 3.2rem;
}
.nametitle{
  font-size: 6rem;
  color: #45494Be7;
  font-style: oblique;
  text-align: center;
  margin-bottom: 2rem;
  font-family: 'Homemade Apple', cursive;
}