 .tweetshow{
   padding-top: 100px;
   background-color: rgba(var(--b3f,250,250,250),1);
   min-height: 100vh;
   width: 100%;
   padding-bottom: 50px;
    &_shows{
      margin: 50px auto 0;
      margin-left: 300px;
      margin-right: 300px;
      background-color:rgba(var(--cdc,255,255,255),1);
      background-size: 100% auto;
    
    // .tweetTitle{
    //   justify-content: start;
    //   margin-left: 50px;
    //   font-size: 4rem;
    // }
      &_user{
        display: flex;
        margin-left: 20px;
        align-items: center;
        justify-content:space-between;
        padding-bottom: 20px;
        a{
          color: gray;
          margin-right: 20px;
          text-decoration: none;
          font-size: 20px;
        }
     
        &_edit{
          text-decoration: none;
          color: #45494Be7;
          // margin-left: 700px;
        }
      }
      .tweetImage img{
        zoom: 0.5;
        text-align: center;
        height: 100%;
        width: 100%;  
      }
    .kodeshousai{
      margin:10px;
      font-size: 30px;
      text-align: center;
      font-weight: normal;
    }
    .tweetText{
      text-align: left;
      margin:30px 20px;
    }
    .tweettweet{
      margin: 0 auto;
      font-size: 30px;
      
      width: 95%;
      border-top: 1px #e6e7e8 solid;
    }
    .tweetsex{
      opacity: 0.8;
      font-size:20px;
      margin: 10px 20px;
    }
    .tweettalls{
     
      opacity: 0.8;
      font-size:20px;
      margin: 10px 20px;
    }
    .tweettemp{
      opacity: 0.8;
      font-size:20px;
      margin: 10px 20px;

    }
    
    .tweettypestyle{
      opacity: 0.8;
      font-size:20px;
      margin: 10px 20px;
    }
    .tweettext{
      margin-left: 75%;
      opacity: 0.8;
      margin-top: 10px;
      
    }
    .liketweet{
      margin:10px 20px;
      display: flex;
    }
    .button_to{
      border: 0;
      margin-left: 10px;
      
    }
    .favo{
      // margin-left:10px;
      color: black;
      font-size: 20px;
      
    }
    .liketweetuser{
      margin: 10px;
    }
    .tweetuserlikename{
      list-style: none;
      margin-left: 20px;
      margin-right: 1px; 
      // margin-bottom: 5px;
      display: inline; 
    }
    .ffsfas1{
      margin-left: 20px;
    }
    strong{
      margin-left: 10px;
      margin-right: 10px;
      margin-bottom: 10px;
      a{
        text-decoration: none;
        color: #000;
      }
      
    }
    .commentscoment{
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
    }
    .commentsusers{
      margin-top: 10px;
      margin-left: 10px;
      margin-right: 10px;
        .formcoment{
        // display: flex;
        height: 100%;
        width: 100%;
        }
        #new_comment{
          display: flex;
        }
        #comment_text{
          width: 100%;
          border: 0;
      }
    }

      .comments_sent{
        margin: 0 auto;
        font-size: 15px;
        color: #67c5ff;
        border: solid 2px #67c5ff;
        border-radius: 3px;
        transition: .4s;
        padding: 15px;
        
      }
      .comments_sent:hover{
        background: #67c5ff;
        color: white;
      }
    }
  } 
  
  .ooo{
    color: gray;
    margin-right: 20px;
    text-decoration: none;
    font-size: 20px;
  }
  